.fset {
	margin: 1em;
}

.legent {
	font-size: 1.5em;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: stretch;
	align-items: stretch;
	width: auto;
	height: auto;
}

fieldset {
	display: block !important;
	margin-inline-start: 2px !important;
	margin-inline-end: 2px !important;
	padding-block-start: 0.35em !important;
	padding-inline-start: 0.75em !important;
	padding-inline-end: 0.75em !important;
	padding-block-end: 0.625em !important;
	min-inline-size: min-content !important;
	border-width: 2px !important;
	border-style: groove !important;
	border-color: rgb(192, 192, 192) !important;
	border-image: initial !important;
}

legend {
	display: block !important;
	padding-inline-start: 2px !important;
	padding-inline-end: 2px !important;
	border-width: initial !important;
	border-style: none !important;
	border-color: initial !important;
	border-image: initial !important;
}